.App {
  font-family: sans-serif;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  padding: 12px;
  background-color: #f9f9f9;
  border: 1px solid grey;
}

* {
  box-sizing: border-box;
}
